.calendar iframe:fist-child{
    display:block;
}

.body-container{
    overflow:hidden;
}

.calendar iframe:last-child{
    display:none;
}

.nav-item a{
    padding: 25px 0;
    display:block;
    font-family: 'Kaushan Script', cursive;
}

.nav-item .dropdown-item{
    padding: 10px 0px;
}

.page-title{
    width:100%;
    padding-top:25%;
}

.page-title>.row, .carousel .content div div{
    background-color:rgba(0,0,0,0.3);
}

.carousel .content div div {
    padding: 10px;
    width: 100%;
}

.page-title .title{
    font-size: 4rem;
    color:white;
}

.navbar{
    height:80px;   
    padding:0;
    width:100%;
}

.navbar-toggler{
    background-color:white;    
}

.dropdown-menu{
    padding:0;
    margin:0;
    border-radius:0;
    border: 0px solid transparent;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.s-doc{
    padding-bottom:30px;
    padding-top:10px;
}

.navbar-brand{
    height:100%;
}

.navbar-brand img{
    display:block;
    height:100%;
}

.nav-container{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position:fixed;
    z-index: 999;
}

.donation{
    order: 6;
    border:none;
    margin-left: 10px;
}

.facebook {
    order: 7;
    margin: 0px 15px;
}

.facebook img{
    width: auto;
    height: 36px;
    margin-bottom:1px;
}

.btn{
    background-color: rgb(11,63,139);
}

.small-btn{
    border-bottom: 2px solid;
}

.hero{
    height: 500px;
}

.support{
    background-color: white;
    background-image:url(../img/textures/stripes-light.png);
    padding:1.5rem;
}

.services{
    background-color: rgb(11,63,139);
}

.services{
    width:100%;
}

.services .wrapper{
    background-color: white;
    margin-top: 68px;
    margin-bottom:68px;
}

.services .wrapper:first-child,.services .wrapper:last-child{
    margin-bottom:102px;
    margin-top:102px;
    position:relative;
}

.conseil-img{
    width:100%;
    height:auto;
}

.equipe-title{
    padding-top:30px;
    padding-bottom: 10px;
}

.alois{
    background-image: url(../img/backgrounds/alois.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.services .content img.left{
    position:absolute;
    bottom:0;
    pointer-events: none;
    max-height: 320px;
    width:auto;
}

.services .content img.right{
    position:absolute;
    bottom:0;
    right:0;
    pointer-events: none;
    max-height: 320px;
    width:auto;
}

.services .content .text{
    padding:20px 0px;
}

.text-blue{
    color: #0b3f8b;
}

h3{
    font-size: 1.5rem;
}

.partenaire-title{
    margin:60px 0px 40px;
    background-color:#0b3f8b;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
}

.benevole{
    background-image: url(../img/textures/stripes-light.png);
}
.navbar-brand{
    margin-right:auto;
}

.navbar-brand img:last-child{
    display:none;  
}

*{
    font-size: 1rem;
}

body{
    background-color:#0b3f8b;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 3rem;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

h1,h2,h3{
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 3px;
}

.text-right-custom{
    text-align: right;
}
p{
    line-height: 1.7rem;
    word-spacing: 0.2rem;
    font-size: 14px;
    margin-bottom:0;
    padding-bottom: 8px;
}

p:last-child{
    padding-bottom: 12px;
}

p:last-child{
    padding-top: 14px;
}

a{
    text-decoration:none !important;
    color:black;
}

a:hover{
    color:rgb(11,63,139) !important;
}

section>div{
    padding: 20px 0px;
}

.footerIcon{
    margin-right:3px;
    padding-bottom: 3px;
}

.bold{
    font-weight: bold;
}

.body-container{
    background-color: white;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 16px #000;
    padding-top: 80px;
    background-color:white;
}

.no-gutter{
    padding:0;
    margin:0;
}

.no-gutter-left{
    padding-left:0;
    margin-left:0;
}

.no-gutter-right{
    padding-right:0;
    margin-right:0;
}

.text-white, .text-white *{
    color:white;
}

.text-dark{
    color: rgb(166,166,166) !important;
}

.text-mid-dark{
    color: rgb(155,155,155);
}

.text-darker{
    color: rgb(141,141,141);
}

.carousel-item{
    width:100%;
    height: 600px;
}

.carousel-item .content{
    position: absolute;
    top:0; left:0; right:0; bottom:0;
}

.carousel-inner .content p,
.carousel-inner .content h1{
    max-width: 960px;
}

.carousel-item .content{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.foot > div:first-child {
    grid-area: top;
    margin-top: 10px;
    flex-direction: column;
    border-bottom: 1px solid rgb(50, 50, 50);
}

.foot {
    color: white;
    background-color: rgb(20, 20, 20);
    background-image: url(../img/textures/black_noise.png);
}

.logo > img {
    height: 80px;
}

.logo {
    padding-bottom: 15px;
}

.foot-top-container{
    padding: 10px 0px 30px;
}

.foot-top-container>*{
    font-size: 0.85rem;
    margin:0;
}

.foot nav{
    padding: 30px 0px 30px;
}

.foot nav ul li{
    border-bottom: 1px solid rgb(90, 90, 90);
    padding-bottom:3px;
}

.foot nav ul li{
    font-size: 0.9rem;
}

.foot .flaticon{
    font-size: 0.7rem;
    color: rgb(110,110,110);
    padding-bottom: 10px;
    line-height: 0.8rem;
}

.foot .flaticon a{
    color: rgb(130,130,130);
    font-size: 0.75rem;
    font-family: "Kaushan Script",cursive;
    padding: 0px 5px;
}

.icon{
    height:65px;
    width:auto;
    margin-bottom: 20px;
}

.equipe-card{
    display:inline-block;
    z-index: 0;
    margin-bottom: 40px;
}

.equipe-card .voir-description{
    cursor:pointer;
}

.equipe-card .description-pop{
    padding:0;
    margin:0;
    max-height:0px;
    min-height:0px;
    overflow:hidden;
    transition: 1s;
    border-radius: 5px;
    line-height:0;
    background-color:rgba(11,63,139,1);
    color:white;
    text-align: left;
}

.equipe-card .description-pop p{
    padding: 10px;
}

.equipe-card .description-pop.desc-visible{
    max-height: 900px;
}

.equipe-card img{
    height: 250px;
    width:auto;
}

.bg-benevole{
    background-image: url(../img/backgrounds/hero2.jpg);
    background-size:cover;
    background-position:center center;
}

[class*="bg-"]{
    background-size:cover;
    background-position:top center;
}

.bg-equipe{
    background-image: url(../img/backgrounds/equipe.jpg);
}

.bg-calendar{
    background-image: url(../img/backgrounds/bg-calendar.jpg);
}

.bg-documents{
    background-image: url(../img/backgrounds/bg-documents.jpg);
}

.bg-participants{
    background-image: url(../img/backgrounds/bg-participants.jpg);
}

.bg-proches-aidants{
    background-image: url(../img/backgrounds/bg-proches-aidants.jpg);
}

.bg-soirees{
    background-image: url(../img/backgrounds/bg-soiree.jpg);
}

.bg-a-propos{
    background-image: url(../img/backgrounds/propos.jpg);
}

.bg-partenaires{
    background-image: url(../img/backgrounds/bg-partenaires.jpg);
}

.bg-participants-activite1{
    background-image: url(../img/backgrounds/menuiserie.jpg);
    background-position:bottom center;
}

.bg-donation{
    background-image:url(../img/backgrounds/bg-donation.jpg);
    background-position:right center;
}

.blue{
    background-color:#0b3f8b;
}

.info-card{
    height:250px;
    padding: 10px;
}

.info-card div{
    background-color:#0b3f8b;
    height:200px;
    padding: 10px;
    border-radius: 5px;
}

.ouverture div .hour{
    padding-top: 10px;
    font-size: 2.1rem !important;
    line-height: 2rem;
}

.info-card div h3{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.ouverture div .time{
    font-size: 1.1rem !important;
    padding:0;
}

.item1,.item2,.item3{
    height: 100px;
    background-size:cover;
}

.bg-blue{
    background-color:#0b3f8b;
}

.wide-spacing{
    padding: 80px 0px;
}

.inscr-btn:hover{
    color:white !important;
}

.wide-spacing-no-top{
    padding: 0px 0px 100px;
}

.little-space-top{
    padding-top: 30px;
}

.price-including p{
    line-height: 1.2rem;
}

.price-including .item1{
    background-image:url(../img/backgrounds/price-item-1.jpg);
}
.price-including .item2{
    background-image:url(../img/backgrounds/price-item-3.jpg);
}
.price-including .item3{
    background-image:url(../img/backgrounds/price-item-2.jpg);
}

@media screen and (max-width: 991px) {
    
    .info-card div{
        height:250px;
    }
    
    .navbar-nav .nav-item a{
        color:#0b3f8b !important;
        background-color:rgba(0,0,0,0.05) !important;
        border-bottom: 1px solid rgba(0,0,0,0.4);
        padding-left: 10px;
    }
    .navbar-nav .nav-item:hover .nav-link, a.dropdown-item:hover{
        background-color:rgba(0,0,0,0.1) !important;
    }
    
    .navbar-toggler{
        order:7;
    }
    
    .navbar-collapse{
        order:8;
        background-color:white;
    }
    
    .navbar-collapse li a{
        padding:10;
        margin:10;
    }
    
    .dropdown-menu{
        display:block;
        border-radius: 0;
        box-shadow: 0px 4px 6px rgba(0,0,0,0);
    }
    
    .dropdown-toggle{
        display:none !important;
    }
    
    .carousel-item{
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item{
        height: 350px;
    }
}

@media screen and (max-width: 575px) {
    
    .info-card div{
        height:250px;
    }
    
    
    .calendar iframe:first-child{display:none;}
    .calendar iframe:last-child{ display:block; }
    .carousel-item .content{background-size:cover;}
    .navbar-brand img:first-child{ display:none; }
    .navbar-brand img:last-child{ display:block; }
    .center-small{ text-align: center !important; }
    .icon{ height:45px; }
    .donation{ margin-left: 5px; }
    .services .wrapper:nth-child(1){ background-image:url(../img/backgrounds/participants_small.jpg);}
    .services .wrapper:nth-child(2){ background-image:url(../img/backgrounds/proches_aidants_small.jpg);}
    .services .wrapper:nth-child(3){ background-image:url(../img/backgrounds/soiree_small.jpg);}
    h1{ font-size: 1.4rem; }
    h2{ font-size:1.2rem; }
    
    .facebook {
        order: 7;
        margin: 0px 5px;
    }
    
    .carousel-item,.carousel{
        height:0;
        padding-bottom: 60%;
    }
    
    p{
        line-height: 1.5rem;
        word-spacing: 0.1rem;
        font-size: 0.8rem;
    }
    .services .wrapper{
        background-color: white;
        margin-top: 20px;
        margin-bottom:20px;
    }
    .animate-slow{
        transition-duration: 0.8s !important;
    }
    .page-title .title{
        font-size: 1.7rem;
        color:white;
    }
    .foot-top-container>*{
        font-size: 0.8rem;
        margin:0;
    }
    
    .services .wrapper{
        background-size:cover;
        background-position:top;
    }
    .services .wrapper .text{
        background-color: rgba(255,255,255,0.7);
    }
    
    .services .wrapper .text h2,
    .services .wrapper .text p,
    .services .wrapper .text .small-btn
    {
        color: rgb(70,70,70) !important;
        margin: 0px 5px;
    }
    
}